body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.graffiti-text {
  font-family: 'Permanent Marker', cursive; /* Fuente estilo graffiti */
  font-size: 2.5rem;
  color: #ff00cc;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000,
    0 0 10px #ff00cc,
    0 0 20px #ff00cc;
  animation: bounceGraffiti 1.5s infinite ease-in-out;
  display: inline-block;
  letter-spacing: 2px;
}

.img-js {
  width: 60px;
  height: 60px;
}

/* Efecto de neón y movimiento lateral */
.neon-sign {
  font-weight: bold;
  font-size: 1.5rem;
  color: #00ffcc;
  text-shadow:
    0 0 5px #00ffcc,
    0 0 10px #00ffcc,
    0 0 20px #00ffcc,
    0 0 40px #00ffcc;
  animation: moveSide 2s ease-in-out infinite alternate;
  display: inline-block;
}


/* Animación de movimiento horizontal */
@keyframes moveSide {
  50% {
    transform: translateX(35px);
  }
  100% {
    transform: translateX(15px);
  }
}

@keyframes bounceGraffiti {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Movimiento de acercamiento y alejamiento */
#btnModal {
  animation: zoomInOut 1.5s ease-in-out infinite;
  transform-origin: center;
}

/* Animación */
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
}